<mat-progress-bar *ngIf="loading$ | async" color="accent" mode="indeterminate"></mat-progress-bar>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Profile">
        <div class="page-content page-profile-container">
            <div class="user-card-container">
                <etdb-user-card [user]="user$ | async">
                    <div class="flex-container flex-justify-end">
                        <etdb-upload-button *ngIf="loggedInUserIsUser$ | async" (filesSelected)="upload($event[0]);"
                            text="Upload profile image"></etdb-upload-button>
                    </div>
                </etdb-user-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="(loggedInUserIsUser$ | async)" label="Contacts"></mat-tab>
    <mat-tab label="Ratings"></mat-tab>
    <mat-tab label="Activity"></mat-tab>
</mat-tab-group>