<etdb-page-loading-indicator [loading]="loading$ | async"></etdb-page-loading-indicator>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Profile">
        <div class="page-content page-content-pad-xs page-profile-container">
            <div class="user-card-container">
                <etdb-user-card [user]="user$ | async"></etdb-user-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="(loggedInUserIsUser$ | async)" label="Contacts"></mat-tab>
    <mat-tab label="Ratings"></mat-tab>
    <mat-tab label="Activity"></mat-tab>
</mat-tab-group>
