<etdb-page-loading-indicator
    [loading]="fetching$ | async"
></etdb-page-loading-indicator>
<div class="page-content page-content-pad-xs">
    <etdb-component-loader-overlay [loading]="profileImageUploading$ | async">
        <etdb-user-settings-card
            [user]="user$ | async"
            (profileImageUpload)="uploadProfileImage($event)"
            (profileImageRemove)="removeProfileImage($event)"
        ></etdb-user-settings-card>
    </etdb-component-loader-overlay>
    <div class="card-seperator"></div>
    <etdb-component-loader-overlay [loading]="profileInfoUpdating$ | async">
        <etdb-user-infochange-form
            [user]="user$ | async"
            (requestProfileInfoChange)="updateProfileInfo($event)"
        ></etdb-user-infochange-form>
    </etdb-component-loader-overlay>
    <div class="card-seperator"></div>
    <etdb-component-loader-overlay [loading]="passwordUpdating$ | async">
        <etdb-user-pwd-change-form
            *ngIf="!(user$ | async)?.isExternalUser"
            (requestPwdChange)="updatePassword($event)"
        ></etdb-user-pwd-change-form>
    </etdb-component-loader-overlay>
</div>
