<etdb-page-loading-indicator [loading]="loading$ | async"></etdb-page-loading-indicator>
<div class="page-content">
    <etdb-user-card [user]="user$ | async">
        <div class="flex-container flex-justify-end">
            <etdb-upload-button *ngIf="loggedInUserIsUser$ | async" (filesSelected)="upload($event[0]);" text="Upload profile image"></etdb-upload-button>
        </div>
    </etdb-user-card>
    <div class="card-seperator"></div>
    <etdb-user-infochange-form [user]="user$ | async" (requestProfileInfoChange)="updateProfileInfo($event);"></etdb-user-infochange-form>
    <div class="card-seperator"></div>
    <etdb-user-pwd-change-form [loading]="loading$ | async" (requestPwdChange)="updatePassword($event);"></etdb-user-pwd-change-form>
</div>
