<etdb-page-loading-indicator [loading]="fetching$ | async"></etdb-page-loading-indicator>
<div class="page-content page-content-pad-xs">
    <etdb-component-loader-overlay
        [loading]="(profileImageUploading$ | async) || (removingProfileImage$ | async) || (markingPrimaryProfileImage$ | async)"
        [message]="(uploadImageMessage$ | async) || (removeProfileImageMessage$ | async) || (markingPrimaryProfileImageMessage$ | async)">
        <etdb-user-image-control [user]="user$ | async" (profileImageUpload)="uploadProfileImage($event)"
            (profileImageRemove)="removeProfileImage($event)" (profileImagePrimary)="markPrimaryProfileImage($event);">
        </etdb-user-image-control>
    </etdb-component-loader-overlay>
    <div class="card-seperator"></div>
    <mat-progress-bar *ngIf="checkingUserNameAvailability$ | async" color="accent" mode="indeterminate">
    </mat-progress-bar>
    <etdb-user-name-update></etdb-user-name-update>
    <div class="card-seperator"></div>
    <etdb-component-loader-overlay [loading]="profileInfoUpdating$ | async" [message]="updateProfileMessage$ | async">
        <etdb-user-infochange-form [user]="user$ | async" (requestProfileInfoChange)="updateProfileInfo($event)">
        </etdb-user-infochange-form>
    </etdb-component-loader-overlay>
    <div class="card-seperator"></div>
    <ng-container *ngIf="!(user$ | async)?.isExternalUser">
        <etdb-component-loader-overlay [loading]="updatingPassword$ | async" [message]="updatePasswordMessage$ | async">
            <etdb-user-pwd-change-form (requestPwdChange)="updatePassword($event)">
            </etdb-user-pwd-change-form>
        </etdb-component-loader-overlay>
    </ng-container>
</div>