// @import '~@angular/material/prebuilt-themes/purple-green.css';
@import "./partials/flex.scss";
@import "./partials/breakpoints.scss";

html {
    font: {
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
}

body {
    margin: 0px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.max-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

etdb-sidenav-content mat-expansion-panel .mat-expansion-panel-body {
    padding: 0px;
}

.page-content {
    padding: 16px;
}

@media #{ $xs } {
    .page-content {
        padding: 8px;
    }
}

.card-seperator {
    margin: 14px 0px;
}
