// @import '~@angular/material/prebuilt-themes/purple-green.css';
@import './partials/flex.scss';


html {
    font: {
        font-family: 'Roboto', 'Helvetica Neue', sans-serif
    }
}

body {
    margin: 0px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif
}

.max-width {
    width: 100%;
}

.page-content {
    padding: 20px;
}

.pointer {
    cursor: pointer;
}

etdb-sidenav-content mat-expansion-panel .mat-expansion-panel-body {
    padding: 0px;
}