<div class="flex-container flex-center-center flex-flow-row selected-image-container">
    <mat-progress-spinner *ngIf="selectedImageLoading();" color="accent" mode="indeterminate"></mat-progress-spinner>
    <img (swipeleft)="previous();" (swiperight)="next();" [hidden]="selectedImageLoading()"
        [src]="selectedImageUrl + '?dimensionX=300&dimensionY=300'" (load)="imageLoaded();" />
</div>
<div class="thumbnail-container flex-container" [style.width.px]="windowWidth">
    <img *ngFor="let url of imageSliderConfig.thumbnails; let i = index;" [src]="url + '?dimensionX=180&dimensionY=180'"
        class="thumbnail-image" (click)="selectImage(i);" />
</div>