<ng-container *ngIf="user">
    <mat-card>
        <mat-card-header>
            <div *ngIf="profileImageUrl?.length" mat-card-avatar [style.backgroundImage]="'url('+ resizedImageUrl +')'"
                style="background-size: cover; background-position: 50% 50%">
            </div>
            <mat-card-title>{{ user.userName }}</mat-card-title>
            <mat-card-subtitle>Member since {{ user.registeredSince | date: "dd.MM.yyyy" }}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="profileImageUrl?.length" [src]="profileImageUrl" />
        <mat-card-content>
            <div class="flex-container flex-justify-center" style="white-space: pre-wrap; padding: 8px 0px;">
                <p *ngIf="user.biography" style="white-space: pre-wrap;font-style: italic;">
                    {{ user.biography }}
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>