<div class="page-content page-content-pad-xs">
    <table mat-table [dataSource]="dataSource" style="background: none; width: 100%;">
        <ng-container matColumnDef="authenticationLogType">
            <th mat-header-cell *matHeaderCellDef>
                Type
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="isSuccessType(element);">{{ AuthenticationLogType.Succeeded }}</span>
                <span *ngIf="!isSuccessType(element);">{{ AuthenticationLogType.Failed }} </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="loggedAt">
            <th mat-header-cell *matHeaderCellDef>
                Logged at
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.loggedAt | date: "dd.MM.yyyy hh:mm" }} </td>
        </ng-container>

        <ng-container matColumnDef="ipAddress">
            <th mat-header-cell *matHeaderCellDef>
                Address
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
</div>