<div class="flex-container flex-flow-column">
    <mat-card>
        <mat-card-title class="mat-typography mat-card-title">
            <h2>Manage your images</h2>
        </mat-card-title>
        <mat-card-content class="grid-tile-container">
            <ng-container *ngIf="profileImages.length">
                <cdk-virtual-scroll-viewport itemSize="80" class="image-viewport">
                    <!-- (scrolledIndexChange)="viewPortScrolled($event);" -->
                    <mat-grid-list [cols]="2" rowHeight="160px" guterSize="1em" class="mat-elevation-z6">
                        <ng-template cdkVirtualFor let-tile let-i="index" let-last="last"
                            [cdkVirtualForOf]="profileImages$ | async" [cdkVirtualForTrackBy]="trackByFn">
                            <mat-grid-tile [colspan]="calculateColSpan(i)" [rowspan]="1" [matMenuTriggerFor]="imageMenu"
                                (click)="setSelected(i);" class="tile-border grid-tile-image"
                                [style.backgroundImage]="'url(' + tile.url +')'">
                                <mat-grid-tile-footer *ngIf="isDevelopment">
                                    index: {{ i }} colscalc: {{ calculateColSpan(i) }} length:
                                    {{ totalLength }} last: {{ last }}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                        </ng-template>
                    </mat-grid-list>
                </cdk-virtual-scroll-viewport>
            </ng-container>
            <div class="flex-container flex-justify-center">
                <span *ngIf="!profileImages.length">
                    No image available
                </span>
            </div>
            <div class="flex-container flex-flow-row flex-justify-end" style="margin-top: .5em; margin-right: 1em;">
                <button mat-fab color="accent" [matMenuTriggerFor]="uploadMenu">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<mat-menu #imageMenu="matMenu" yPosition="above" xPosition="before">
    <button mat-menu-item [disabled]="profileImages.length === 0" (click)="requestMarkPrimaryProfileImage();">
        <mat-icon>photo</mat-icon> Set as profile-image
    </button>
    <button mat-menu-item [disabled]="profileImages.length === 0" (click)="
                        requestProfileImageRemove();
                    ">
        <mat-icon>delete</mat-icon> Delete Image
    </button>
</mat-menu>
<mat-menu #uploadMenu="matMenu" yPosition="below" xPosition="before">
    <button mat-menu-item (click)="triggerFileDialog();">
        <mat-icon>add_a_photo</mat-icon> Upload image(s)
    </button>
</mat-menu>
<input #fileInput hidden accept="image/*" multiple type="file" (change)="emitSelection($event);" />