@import '~@angular/material/theming';

.grid-tile-image {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.grid-tile-container {
    margin: 0px -16px
}

@mixin user-image-control-component-theme($theme) {
    // $accent: map-get($map: $theme, $key: accent);
    // .tile-border {
    //     border: 1px solid mat-color($accent);
    // }
}

