<div class="flex-container flex-center-center">
    <form class="password-change-container" [formGroup]="pwdChangeForm" novalidate>
        <mat-card>
            <mat-card-title>
                Set a new password
            </mat-card-title>
            <mat-card-content>
                <div class="flex-container flex-flow-column">
                    <mat-form-field>
                        <input matInput placeholder="Current password" formControlName="currentPassword" />
                        <mat-error *ngIf="hasMinLengthPasswordError('currentPassword');">
                            Password must contain at least 8 letters!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Current password" formControlName="newPassword" />
                        <mat-error *ngIf="hasMinLengthPasswordError('newPassword');">
                            Password must contain at least 8 letters!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Current password" formControlName="newPasswordRepeat" />
                        <mat-error *ngIf="hasMismatchedPasswordError();">
                            Passwords do not match!
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>