<div class="flex-container flex-center-center">
    <form class="password-change-container" [formGroup]="pwdChangeForm" novalidate (ngSubmit)="submit();">
        <mat-card>
            <mat-card-title class="mat-typography">
                <h2>Set a new password</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="flex-container flex-flow-column">
                    <input hidden autocomplete="username" />
                    <mat-form-field>
                        <input autocomplete="current-password" #currentPasswordInput type="password" matInput
                            placeholder="Current password" formControlName="currentPassword" />
                        <mat-icon (click)="changePasswordVisibility(currentPasswordInput);" class="pointer" matSuffix>
                            remove_red_eye</mat-icon>
                        <mat-error *ngIf="hasMinLengthPasswordError('currentPassword');">
                            Password must contain at least 8 letters!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="new-password" #newPasswordInput type="password" matInput
                            placeholder="New password" formControlName="newPassword" />
                        <mat-icon (click)="changePasswordVisibility(newPasswordInput);" class="pointer" matSuffix>
                            remove_red_eye</mat-icon>
                        <mat-error *ngIf="hasMinLengthPasswordError('newPassword');">
                            Password must contain at least 8 letters!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="new-password" #newPasswordInputRepeat type="password" matInput
                            placeholder="Repeat the new password" formControlName="newPasswordRepeat" />
                        <mat-icon (click)="changePasswordVisibility(newPasswordInputRepeat);" class="pointer" matSuffix>
                            remove_red_eye</mat-icon>
                        <mat-error *ngIf="hasMismatchedPasswordError();">
                            Passwords do not match!
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>Update password</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>