<etdb-page-loading-indicator [loading]="loading$ | async"></etdb-page-loading-indicator>
<mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Profile">
        <div class="page-content page-content-pad-xs page-profile-container">

            <div class="user-card-container">
                <etdb-user-card [user]="user$ | async"></etdb-user-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="selectedUserIsAuthenticatedUser$ | async" label="Sign-In Logs">
        <div class="flex-container flex-justify-center">
            <mat-button-toggle-group (change)="toggleView($event);">
                <mat-button-toggle value="table_chart" (checked)="selectedAuthenticationView === 'table_chart'">
                    <mat-icon>table_chart</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="pie_chart" (checked)="selectedAuthenticationView === 'pie_chart'">
                    <mat-icon>pie_chart</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <etdb-authentication-log-overview *ngIf="selectedAuthenticationView === 'table_chart'" [authenticationLogs]="authenticationLogs$ | async">
        </etdb-authentication-log-overview>
        <etdb-authentication-log-piechartview  *ngIf="selectedAuthenticationView === 'pie_chart'" [authenticationLogs]="authenticationLogs$ | async">
        </etdb-authentication-log-piechartview>
    </mat-tab>
</mat-tab-group>