<etdb-page-loading-indicator [loading]="loading$ | async"></etdb-page-loading-indicator>
<mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Profile">
        <div class="page-content page-content-pad-xs page-profile-container">

            <div class="user-card-container">
                <etdb-user-card [user]="user$ | async"></etdb-user-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="selectedUserIsAuthenticatedUser$ | async" label="Sign-In Logs">
        <etdb-authentication-log-overview [authenticationLogs]="authenticationLogs$ | async">
        </etdb-authentication-log-overview>
    </mat-tab>
</mat-tab-group>