<etdb-toolbar
    [user]="user$ | async"
    [sidenavVisible]="showSidenav$ | async"
    [title]="title$ | async"
    (requestThemeChange)="dispatchThemeChange($event);"
    (requestLogout)="dispatchLogout();"></etdb-toolbar>
<mat-sidenav-container>
    <mat-sidenav color="accent"
        #sidenav
        mode="side"
        [opened]="showSidenav$ | async"
        [fixedInViewport]="true"
        [fixedTopGap]="64"
        style="box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);">
        <etdb-sidenav-content></etdb-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-container style="width: 100%;
        height: calc(100vh - 64px);">
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>
