<etdb-toolbar [user]="user$ | async" [sidenavVisible]="showSidenav$ | async" [title]="title$ | async" (requestThemeChange)="changeTheme($event);"
    (requestLogout)="logout();" (linkedMenuClicked)="toggleSidenavBasesOnSize();" (hamburgerMenuClicked)="toggleSidenav($event);"></etdb-toolbar>
<mat-sidenav-container class="main-sidenav-container" (backdropClick)="toggleSidenav(false);">
    <mat-sidenav color="accent" #sidenav [mode]="sidenavMode" [opened]="showSidenav$ | async" [fixedInViewport]="true" [fixedTopGap]="layoutGap"
        style="box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);">
        <etdb-sidenav-content (linkClicked)="toggleSidenavBasesOnSize();">
        </etdb-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-container>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>