@import '~@angular/material/theming';

.placeholder {
    padding: 0 16px;
}

.mat-menu-panel {
    min-height: 100% !important;
}

@mixin app-notification-overview-theme($theme) {
    $foreground-palette: map-get($theme, foreground);
    $default-color: mat-color($foreground-palette, base);

    .notification-container {
        color: $default-color;
    }
}