<md-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></md-progress-bar>
<div class="flex-container justify-center">
    <md-form-field style="width: 50%">
            <input mdInput [formControl]="searchControl" type="search" placeholder="Search movies">
    </md-form-field>
</div>
<div class="flex-container space-around movie-container">
    <ng-template ngFor let-movie [ngForOf]="movies | movieFilter : 'title' : searchTerm">
        <md-card  style="width: 600px; margin: 10px;">
            <md-card-title>
                <a style="text-decoration: none;" [routerLink]="[movie.id]">{{ movie.title }}</a>
            </md-card-title>
            <img *ngIf="!movie.movieCoverImageUrl" md-card-image src="./assets/no-image.png" />
            <img *ngIf="movie.movieCoverImageUrl" md-card-image [src]="movie.movieCoverImageUrl" />
            <md-card-content class="item-card-container" flex>
                <p>
                    {{ movie.description }}
                </p>
            </md-card-content>
            <md-card-actions align="end">
                <button md-icon-button (click)="openDialog(movie);">
                    <md-icon>mode_edit</md-icon>
                </button>
            </md-card-actions>
        </md-card>
    </ng-template>
</div>
<ng-template portal>
    <button (click)="openDialog(null);" color="accent" md-fab style="display: inline-block;
        position: fixed;
        bottom: 20px;
        right: 20px;"><md-icon>add</md-icon>
    </button>
</ng-template>