<md-card style="width: 400px; margin: 10px;">
    <md-card-title [routerLink]="['/movies', movie.id]">
        {{ movie.title }}
    </md-card-title>
    <img md-card-image src="./assets/no-image.png" />
    <md-card-content class="item-card-container" flex>
        <p>
            {{ movie.description }}
        </p>
    </md-card-content>
    <md-card-actions align="end">
        <button md-icon-button (click)="requestEdit.emit();">
            <md-icon>mode_edit</md-icon>
        </button>
    </md-card-actions>
</md-card>