<md-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></md-progress-bar>

<!-- <input type="file" name="file" #fileInput placeholder="Upload file...">
<button md-raised-button (click)="uploadCoverFile();">Upload</button> -->

<div class="flex-container justify-center">
    <md-form-field class="max-width">
            <input mdInput [formControl]="searchControl" type="search" placeholder="Search movies">
    </md-form-field>
</div>
<div class="flex-container space-around movie-container">
    <ng-template ngFor let-movie [ngForOf]="movies | movieFilter : 'title' : searchTerm">
        <etdb-movie-card [movie]="movie" (requestEdit)="openDialog(movie);"></etdb-movie-card>
    </ng-template>
</div>
<ng-template portal>
    <button (click)="openDialog(null);" color="accent" md-fab style="display: inline-block;
        position: fixed;
        bottom: 20px;
        right: 20px;"><md-icon>add</md-icon>
    </button>
</ng-template>