<md-card>
        <md-card-title-group>
          <md-card-title>Card with Large Image</md-card-title>
          <md-card-subtitle>152px x 152px image</md-card-subtitle>
          <img md-card-lg-image src="https://placekitten.com/g/400/200">
        </md-card-title-group>
      </md-card>
<div class="flex-container justify-center">
    <md-card *ngIf="movie" style="width: 800px; margin: 10px;">
        <md-card-title>
            {{ movie.title }}
        </md-card-title>
        <img *ngIf="!movie.movieCoverImageUrl" md-card-image src="./assets/no-image.png" />
        <img *ngIf="movie.movieCoverImageUrl" md-card-image [src]="movie.movieCoverImageUrl" />
        <md-card-content class="item-card-container" flex>
            <p>
                {{ movie.description }}
            </p>
        </md-card-content>
        <md-card-actions align="end">
                <!-- <input type="file" name="file" #fileInput placeholder="Upload file..."> -->
                <td-file-upload #fileInput (upload)="uploadCoverFile($event);">
                    <md-icon>file_upload</md-icon><span>{{ fileInput.files?.name }}</span>
                    <ng-template td-file-input-label>
                        <md-icon>attach_file</md-icon><span>Choose a file...</span>
                    </ng-template>
                </td-file-upload>
                <!-- <button md-raised-button (click)="uploadCoverFile();">Upload</button> -->
        </md-card-actions>
    </md-card>
</div>