<ng-container *ngIf="authenticatedUser">
    <div class="flex-container flex-flow-row" style="align-items: center;">
        <button mat-icon-button [routerLink]="['/users/profile/' + authenticatedUser.id]" (click)="linkClicked.emit();">
            <div *ngIf="authenticatedUser.profileImageUrl" class="profile-picture mat-icon material-icons"
                [style.backgroundImage]="'url('+ authenticatedUser.profileImageUrl +')'">
            </div>
            <mat-icon *ngIf="!authenticatedUser.profileImageUrl">person</mat-icon>
        </button>
        <div class="flex-container flex-flow-column" style="padding: 5px;">
            <span style="white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
                width: 100px;">{{ authenticatedUser.userName }}</span>
            <span style="font-size: small">{{ authenticatedUser.firstName}}</span>
        </div>
    </div>
    <mat-divider></mat-divider>
</ng-container>
<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Administration
        </mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-button type="button" class="max-width" *ngFor="let link of adminLinks" [routerLink]="link.path"
        routerLinkActive="active-sidenav-menu-link" (click)="linkClicked.emit();">
        <mat-icon>{{ link.icon }}</mat-icon> <span style="font-size: 14px;">{{ link.displayName }}</span>
    </a>
</mat-expansion-panel> -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Discover
        </mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-button type="button" class="max-width" *ngFor="let link of discoverLinks" [routerLink]="link.path"
        routerLinkActive="active-sidenav-menu-link" (click)="linkClicked.emit();">
        <mat-icon>{{ link.icon }}</mat-icon> <span style="font-size: 14px;">{{ link.displayName }}</span>
    </a>
</mat-expansion-panel>