<mat-toolbar class="mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="hamburgerMenuClicked.emit(!sidenavVisible);">
        <mat-icon>menu</mat-icon>
    </button>
    {{ title }}
    <span style="flex: 1 1 auto;"></span>
    <button *ngIf="!user" mat-button routerLink="/register" (click)="linkedMenuClicked.emit();">Register</button>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        <ng-template ngFor let-theme [ngForOf]="themes">
            <button mat-menu-item (click)="requestThemeChange.emit(theme.theme);">{{theme.name}}</button>
        </ng-template>
    </mat-menu>
    <button *ngIf="user" mat-icon-button [routerLink]="'users/' + user.sub" (click)="linkedMenuClicked.emit();">
        <mat-icon>
            person
        </mat-icon>
    </button>
    <button mat-icon-button *ngIf="user" matTooltip="Logout" (click)="requestLogout.emit();">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>