:host > mat-toolbar {
    position: relative;
    z-index: 100;
}

.profile-picture {
    background-size: cover;
    width: 24px;
    height: 24px;
    background-position: 50% 50%;
    border-radius: 50%;
}
