<mat-toolbar class="mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="hamburgerMenuClicked.emit(!sidenavVisible);">
        <mat-icon>menu</mat-icon>
    </button>
    {{ title }}
    <span style="flex: 1 1 auto;"></span>
    <button *ngIf="!user" mat-button routerLink="/register" (click)="linkedMenuClicked.emit();">Register</button>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        <ng-template ngFor let-theme [ngForOf]="themes" let-last="last">
            <button mat-menu-item (click)="requestThemeChange.emit(theme.theme);">{{theme.name}}</button>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
    </mat-menu>
    <button *ngIf="user" mat-icon-button mat-icon-button [matMenuTriggerFor]="usersMenu">
        <div *ngIf="user" class="profile-picture mat-icon material-icons" [style.backgroundImage]="'url('+ userPictureUrl +')'"></div>
    </button>
    <mat-menu #usersMenu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item [routerLink]="'users/profile/' + user?.sub" (click)="linkedMenuClicked.emit();">
            <mat-icon>person</mat-icon> Profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="'users/settings/' + user?.sub" (click)="linkedMenuClicked.emit();">
            <mat-icon>settings</mat-icon> Settings
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="requestLogout.emit(); linkedMenuClicked.emit();">
            <mat-icon>exit_to_app</mat-icon> Logout
        </button>
    </mat-menu>
</mat-toolbar>