<mat-toolbar
    class="mat-elevation-z6"
    color="primary">
    <button mat-icon-button (click)="toggleSidenav();">
        <mat-icon>menu</mat-icon>
    </button>
    ETDB | {{ title }}
    <span style="flex: 1 1 auto;"></span>
    <button *ngIf="!user"
        mat-button
        [routerLink]="'register'">Register</button>
    <button *ngIf="!user"
        mat-button
        [routerLink]="'login'">Login</button>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        <ng-template ngFor let-theme [ngForOf]="themes">
            <button mat-menu-item (click)="requestThemeChange.emit(theme.theme);">{{theme.name}}</button>
        </ng-template>
    </mat-menu>
    <button mat-icon-button
        *ngIf="user"
        [matTooltip]="getUserGreeting()">
        <mat-icon>
            person
        </mat-icon>
    </button>
</mat-toolbar>